.m-b-10 {
    margin-bottom: 10px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.container {
    height: calc(100vh - 60px);
    padding: 25px;
    position: relative;
    overflow: auto;
}

.edit-icon {
    color: #1677ff;
}

.delete-icon {
    color: #ff4d4f;
}
