.app-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    background-image: linear-gradient(90deg, rgb(106, 90, 205), rgb(131, 111, 255));

    .header-title {
        color: #fff;
        margin: 0;
    }
}

.back-btn {
    color: #fff;

    &:active {
        color: #fff !important;
    }

    &:hover {
        color: #fff !important;
    }
}
