.upsert-user-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.error-message {
    color: #ff4d4f;
    font-size: small;
    margin-top: 4px;
}

.required {
    color: #ff4d4f;
}

.form-label {
    font-weight: 500;
}
